<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aihub.mapper.UserMapper">

    <select id="findByUsername" resultType="com.aihub.entity.User">
        SELECT * FROM user 
        WHERE username = #{username} 
        AND is_deleted = 0
        LIMIT 1
    </select>

    <select id="findByEmail" resultType="com.aihub.entity.User">
        SELECT * FROM user 
        WHERE email = #{email} 
        AND is_deleted = 0
        LIMIT 1
    </select>

    <select id="countByRoleAndNotDeleted" resultType="java.lang.Long">
        SELECT COUNT(*) FROM user 
        WHERE role = #{role} 
        AND is_deleted = 0
    </select>

</mapper>
